.bot-specs {
    background-color:white;
    border-radius: 10px;
    border: 1px dotted lightgrey;
    padding: 20px;
    text-align: center;
    max-width: 200px;
    height: fit-content;
    margin: 0 auto;
}

.bot-specs img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.bot-specs h2 {
    margin: 10px 0;
    font-size: 2rem;
    color: #2c3e50;
}

.bot-specs p {
    margin: 5px 0;
    color: #7f8c8d;
}

.bot-specs-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.bot-specs button {
    color: white;
    border: none;
    padding: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
