.your-bot-army {
    gap: 10px;
    
}

.enlisted-bot {
    background-color: white;
    border-radius: 10px;
    border: 1px dotted lightgrey;
    padding: 10px;
    text-align: center;
    width: 150px;
    height:fit-content;
}

.enlisted-bot:hover {
    transform: translateY(-5px);

}

.enlisted-bot img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.enlisted-bot h3 {
    margin: 10px 0;
    font-size: 1.2rem;
    color: #2c3e50;
}

.enlisted-bot button {
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
}