.App {
    text-align: center;
    padding: 20px;
}

.parent-contaner {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;


}
.main-container {
    display: flex;
    gap: 5px;
    padding: 10px;
}
@media (max-width: 768px){
    .main-container {
        flex-direction: column;
        gap: 10px;
    }
}
.your-bot-army {
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
.bot-collection {
    flex: 2;
    border-radius: 10px;
    justify-content: flex-start;
}