body {
    font-family: "Nunito", serif;    
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3 {
    color: #2c3e50;
}

button {
    background-color: rgb(245, 61, 61);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: brown;
}

button-disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
}